@{
    ViewData["Title"] = "Home Page";
}

<form asp-method="POST" name="form1" asp-action="start_quiz">
    Name:~ <input type="text" name="txtName" placeholder="--Enter your Name--">
    <br>
    Email:~ <input type="Email" name="txtEmail" placeholder="--Enter your Email--">
    <br>
    Phone No.:~ <input type="tel" name="txtPhone" placeholder="--Enter your Phone number--">
    <br>
    City:~ <select name="txtcity" required>
        <option value=''>--Choose a City</option>
        <option>Surat</option>
        <option>Ahmedabad</option>
        <option>Valsad</option>
    </select>
    <br>
    Gender:~ <input type="radio" name="txtGender" value="Male">Male
    <input type="radio" name="txtGender" value="Female">Female
    <br>
    Subjects:~ <input type="checkbox" name="txtSubjects" value="Data Mining">Data Mining
    <input type="checkbox" name="txtSubjects" value="Dotnet">Dotnet
    <input type="checkbox" name="txtSubjects" value="Android">Android
    <br>
    <input type="submit" value="To the QUIZ">
</form>
